body, a, div {
    font-family: 'Josefin Sans', sans-serif;
}


/*navigation related*/
.right-nav-div {
    background-color: #f9f9f9;
    position: fixed;
    float:right;
    top:0;
    bottom: 0;
    left: 58.33%;
}


.left-svg-div {
    background-color: #fff;
    position: fixed;
}



.name-tag {
    padding:20px;
    padding-left:40px;
}

.container-fluid {
}

.nav-button {
    font-size:1.5em;
    text-align: center;
    cursor: pointer;
}


.glyphicon {
    padding-left:20px;
}

.nav-text {
    padding: 30px;
}
.nav-button-1:hover {
    background-color: #DDE8E0;
}

.nav-button:hover > .nav-text {
    background-color:rgba(255,255,255,.3);
}

.nav-button-2:hover {
    background-color: #749CA8;
}
.nav-button-3:hover {
    background-color: #F9E0A8;
}
.nav-button-4:hover {
    background-color: #D16B54;
}
.nav-button-5:hover {
    background-color: #8B8378;
}


.spacer {
    padding:20px;
}


.photo {
    margin-top:10px;
    border-radius: 50%;
    height: 120px;;
    width: 120px;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size:1.8em;
    color: #9d9d9d;
}


/*content related*/



#physics {
    display:block;
    margin:auto;
}
.category-nav-container {
    overflow:hidden;
}

.positioning-container {
    float:right;
    width:100%;
    height:100%;
}

.category-nav {
    position: relative;
    background-color: #fff; /* Black*/
    overflow-x: hidden;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s;
    height:800px;
}

.glyphicon {
    padding:0px;
    padding-top:7px;
    padding-right:5px;
    font-size:9px;
    float:left;
}
#nav-box{
    left:500px;
}

.nav-item {
    padding:0px;
    position: absolute;
}


/* The navigation menu links */
.item-header {
    font-size: 18px;
    color: #749CA8;
    display: block;
}

.item {
    padding-top:20px;
    padding-bottom:30px;
}
.item-description {
    font-size: 14px;
    color: #333;
}

#content-div{
    position:absolute;
    width:100%;
    padding-top:20px;
}



/*files*/

.node-image {
    border-radius: 50%;
    opacity:.5;
    padding:0px;
    display: none;
}
.node-image:hover {
    cursor:pointer;
    opacity:1;
}

.dot {
    width:20px;
    height:20px;
    border-radius:10px;
    background: #ccc;
    position:relative;
    left:0;
    top:0;
}

.dot:hover {
    background: #888;
    cursor:pointer;
}
.node {
    position:relative;
    display:inline-flex;
}

.node-text {
    /*margin: auto 2px;*/
    margin-right:15px;
    margin-left:-5px;
    /*background-color: rgba(255,255,255,.3)*/
}

.item:hover {
    cursor: pointer;
    opacity: .7;
}



/*MODAL*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}